.jumbotron{
    margin:10px 0;
    padding:10px 0;
    h1{
        font-size:32px;
        margin:0;
        padding:0;
    }
}

textarea{
    width:100%;
    resize:none;
}

ul{
    max-height: 500px;
    overflow-y: auto;
}